<hr>
<div id="footer">
    <div class="container">
        <div class="text-center">
            <noscript><p><img src="{{ site.data.global.piwik.url }}/piwik.php?idsite={{ site.data.global.piwik.site-id }}&rec=1" style="border:0;" alt="" /></p></noscript>
            <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">
                <img alt="Creative Commons license agreement" style="border-width:0" src="{% asset_path creative_commons.png %}" />
            </a>
            <br>
            <a href="{% link _pages/legalnotice.md %}">Legal notice</a> | <a href="{% link _pages/legalnotice.md %}#disclaimer">Disclaimer</a> | <a href="{% link _pages/legalnotice.md %}#privacy-statement">Privacy Statement</a> | <a href='{% link _pages/legalnotice.md %}#attributions'>Attributions</a> | <a href="{% link _pages/legalnotice.md %}#website-tracking">Tracking</a>
            <br>
            <div id="smallFooter">
                This work by 
                    <a href="{{ site.data.global.url }}{% link _pages/about.md %}" property="cc:attributionName" rel="cc:attributionURL">
                        Frank Steiler
                    </a> 
                is licensed under a 
                <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons - Attribution - Non Commercial - Share Alike - 4.0 International License</a>
            </div>
            <br>
        </div>
    </div>
</div>
<!-- Combined Javascript -->	
<script async src="{% asset_path main.js %}"></script>
<!-- {% javascript main %} -->
